.header-div {
  position: sticky;
  top: 0;
  /* border: 2px solid; */
  left: 0;
  right: 0;
  border-radius: 15px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: var(--primary-background-color);
  background-image: var(--primary-background-image);
}

.menu-img {
  margin-right: auto;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  transition: 0.2s linear;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%3E%3Cpath%20d=%22M0%200h24v24H0V0z%22%20fill=%22none%22%3E%3C/path%3E%3Cpath%20d=%22M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z%22%3E%3C/path%3E%3C/svg%3E");
}

.menu-img.hide {
  opacity: 0;
}
.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #ced7dc6e;
}
.center-state-data {
  margin: auto;
}

.toggle-img-grey-scale {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  transition: 0.1s linear;
  outline: none;
  position: fixed;
  right: 0;
  top: 0;
}

@keyframes showToggleTouch {
  from {
    bottom: -10%;
  }

  to {
    bottom: 0;
  }
}
@keyframes showToggleClick {
  from {
    left: -40%;
  }
  to {
    left: 0;
  }
}
.menu-box {
  left: 0;
  z-index: 300;
  border: 2px solid var(--primary-color);
  position: fixed;
  transition: 0.2s linear;
  animation: showToggleClick 0.2s linear;
  background: var(--primary-background-color);
  user-select: none;
}
.menu-box.click-menu {
  width: 40%;
  top: 0;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px;
  animation-fill-mode: forwards;
}
.menu-box.touch-menu {
  height: fit-content;
  padding: 20px;
  text-align: center;
  margin: auto;
  right: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  animation: showToggleTouch 0.2s linear;
  width: 90%;
  bottom: 0;
}
