.header-div {
  height: var(--header-component-height);
  position: fixed;
  top: 0;
  /* border: 2px solid; */
  left: 0;
  right: 0;
  border-radius: 15px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: var(--primary-background-color);
  background-image: var(--primary-background-image);
}

.menu-img {
  margin-right: auto;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  transition: 0.2s linear;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%3E%3Cpath%20d=%22M0%200h24v24H0V0z%22%20fill=%22none%22%3E%3C/path%3E%3Cpath%20d=%22M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z%22%3E%3C/path%3E%3C/svg%3E");
}

.menu-img.hide {
  opacity: 0;
}
.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #ced7dc6e;
}
.center-state-data {
  margin: auto;
}

.toggle-img-grey-scale {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  transition: 0.1s linear;
  outline: none;
}
.toggle-img-grey-scale[data-color="false"] {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%3E%3Cpath%20d=%22M24%200H0v24h24V0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%2013.59c0%201.6.62%203.1%201.76%204.24%201.13%201.14%202.64%201.76%204.24%201.76V5.1L7.76%209.35C6.62%2010.48%206%2011.99%206%2013.59z%22%20opacity=%22.3%22/%3E%3Cpath%20d=%22M17.66%207.93L12%202.27%206.34%207.93c-3.12%203.12-3.12%208.19%200%2011.31C7.9%2020.8%209.95%2021.58%2012%2021.58s4.1-.78%205.66-2.34c3.12-3.12%203.12-8.19%200-11.31zM12%2019.59c-1.6%200-3.11-.62-4.24-1.76C6.62%2016.69%206%2015.19%206%2013.59s.62-3.11%201.76-4.24L12%205.1v14.49z%22/%3E%3C/svg%3E");
}

.toggle-img-grey-scale[data-color="true"] {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20width=%2224%22%3E%3Cpath%20d=%22M0%200h24v24H0V0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%2013.59c0%201.6.62%203.1%201.76%204.24%201.13%201.14%202.64%201.76%204.24%201.76v-4.8L7.21%2010C6.43%2011.03%206%2012.27%206%2013.59z%22%20opacity=%22.3%22/%3E%3Cpath%20d=%22M12%205.1v4.05l7.4%207.4c1.15-2.88.59-6.28-1.75-8.61L12%202.27%208.56%205.71l1.41%201.41L12%205.1zm-7.6-.73L2.99%205.78l2.78%202.78c-2.54%203.14-2.35%207.75.57%2010.68C7.9%2020.8%209.95%2021.58%2012%2021.58c1.78%200%203.56-.59%205.02-1.77l2.7%202.7%201.41-1.41L4.4%204.37zM12%2019.59c-1.6%200-3.11-.62-4.24-1.76C6.62%2016.69%206%2015.19%206%2013.59c0-1.32.43-2.56%201.21-3.59L12%2014.79v4.8z%22/%3E%3Cpath%20d=%22M12%209.15V5.1L9.97%207.12z%22%20opacity=%22.3%22/%3E%3C/svg%3E");
}

@keyframes showToggleTouch {
  from {
    bottom: -10%;
  }

  to {
    bottom: 0;
  }
}
@keyframes showToggleClick {
  from {
    left: -40%;
  }
  to {
    left: 0;
  }
}
.menu-box {
  left: 0;
  z-index: 300;
  border: 2px solid var(--primary-color);
  position: fixed;
  transition: 0.2s linear;
  animation: showToggleClick 0.2s linear;
  background: var(--primary-background-color);
  user-select: none;
}
.menu-box.click-menu {
  width: 40%;
  top: 0;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px;
  animation-fill-mode: forwards;
}
.menu-box.touch-menu {
  height: fit-content;
  padding: 20px;
  text-align: center;
  margin: auto;
  right: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  animation: showToggleTouch 0.2s linear;
  width: 90%;
  bottom: 0;
}
